In [35]:
import import_ipynb
from Job import Job
from Vehicle import Vehicle
import importlib
import numpy as np
from typing import Dict, Tuple, Sequence, List, Any
import matplotlib.pyplot as plt
import folium
import pandas as pd 
import datetime

import json

import pprint

ModuleNotFoundError: No module named 'Job'

In [36]:
df = pd.read_csv("1.csv")
df

,PUD Svc Area,PUD Fac,PUD Rte,PUD Cycle,Courier id,Courier Type,Customer Name,Street,zip,City,...,Act Tm,Open,Closed,lat,lgtd,awb_booking,Act Ckpt Code,PuD Type,Stop Code,MarkerColor
0,KUL,EAC,ACA1,B,rafinord,NaN,NaN,NaN,NaN,NaN,...,9:20,NaN,NaN,NaN,NaN,NaN,DEPAR,NaN,NaN,NaN
1,KUL,EAC,ACA1,B,rafinord,DHL Courier,DHL EXPRESS M SDN BHD,"LOT PT 13757,JALAN HARUAN 1\nOAKLAND INDUSTRIA...",70300,SEREMBAN,...,9:22,NaN,23:59,NaN,NaN,7511555413,OK,DL,1.0,NaN
2,KUL,EAC,ACA1,B,rafinord,DHL Courier,THIAM YEW CHUA,"249, JALAN 9, TAMAN BUKIT GALENA\nN/A\nSEREMBAN",70200,SEREMBAN,...,9:39,NaN,23:59,2.729141,101.908920,8402377443,OK,DL,2.0,NaN
3,KUL,EAC,ACA1,B,rafinord,DHL Courier,FG FAMILY GOLD,"NO.113, JLN KESUMA 4B / 1\nBDR TASIK KESUMA 40...",43700,BERANANG,...,10:15,9:00,12:00,2.913812,101.872085,6224210694,PU,PU,1.0,NaN
4,KUL,EAC,ACA1,B,rafinord,DHL Courier,MANDY LEE,30 JALAN KESUMA 7/5\nBANDAR TASIK KESUMA SELAN...,43700,BERANANG,...,10:20,NaN,23:59,2.898578,101.871412,4757007743,OK,DL,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,KUL,EAC,ACQ2,B,ravenda,Service Partner,BAERLOCHER M TRADING AND SERVICES,SDN BHD. LOT 635 & 660 KAWASAN\nPERINDUSTRIAN ...,71450,SEREMBAN,...,10:47,NaN,NaN,2.678117,102.004406,4106272435,PU,PU,3.0,NaN
7604,KUL,EAC,ACQ2,B,ravenda,Service Partner,EXIS TECH SDN BHD,"LOT 26209, JALAN TJ 2/2\nTUANKU JAFFAR INDUSTR...",71450,SEREMBAN,...,10:48,NaN,23:59,2.677906,102.004469,6791721963,OK,DL,4.0,NaN
7605,KUL,EAC,ACQ2,B,ravenda,Service Partner,CPAK CERGAS SDN BHD,LOT 22 JALAN BUNGA TANJUNG\nSENAWANG INDUSTRIA...,70400,SEREMBAN,...,11:35,9:30,12:30,2.685681,101.987760,5521357940,PU,PU,4.0,NaN
7606,KUL,EAC,ACQ2,B,ravenda,Service Partner,VS FAMILIA SDN BHD,"LOT 71&72, JALAN PERNIAGAAN SENAWANG 1 TAMAN P...",70450,SEREMBAN,...,11:55,0:00,12:00,2.695789,101.967709,002918 - 550456849,FP,FP,1.0,NaN
7607,KUL,EAC,ACQ2,B,ravenda,Service Partner,NaN,NaN,NaN,NaN,...,12:16,NaN,23:59,2.704715,101.916464,NaN,ARRVD,NaN,NaN,NaN

In [3]:
df.describe()

,Act Dt,ShpCnt,Pallets Pcs,Parcel Pcs,Total Pcs,Weight,lat,lgtd,Stop Code,MarkerColor
count,7.608000e+03,7492.000000,7492.000000,7492.000000,7011.000000,6808.000000,7368.000000,7368.000000,7008.000000,0.0
mean,2.020022e+07,1.869995,0.111986,1.530833,2.839823,16.350611,2.767099,101.830914,8.759989,NaN
std,8.056727e+00,3.236699,0.877723,8.108511,8.770209,90.419155,0.101424,0.124821,7.169603,NaN
min,2.020020e+07,0.000000,0.000000,0.000000,0.000000,0.010000,2.418109,101.553258,1.000000,NaN
25%,2.020021e+07,1.000000,0.000000,0.000000,1.000000,0.180000,2.698712,101.718182,3.000000,NaN
50%,2.020022e+07,1.000000,0.000000,0.000000,1.000000,0.700000,2.732480,101.817228,7.000000,NaN
75%,2.020022e+07,2.000000,0.000000,1.000000,2.000000,4.382500,2.853820,101.923431,12.000000,NaN
max,2.020023e+07,81.000000,34.000000,397.000000,397.000000,3021.000000,3.125483,102.096930,44.000000,NaN

In [7]:
df2 = df['Customer Name']

In [15]:
print(f"Duplicated rows: {df2.duplicated(keep=False)}")

Duplicated rows: 0        True
1        True
2        True
3        True
4       False
        ...
7603     True
7604     True
7605     True
7606     True
7607     True
Name: Customer Name, Length: 7608, dtype: bool

In [22]:
morning_parcel = "2020/1/31 1:16" #yesterday afternoon onwards consider today morning
until_morning_parcel = "2020/2/1 09:15"

afternoon_parcel = "2020/2/1 09:16" #today until before go out consider today afternoon
until_afternoon_parcel = "2020/1/2 1:15"

subangLocation = [101.5531605, 3.0404532000000004]
firstFourHour = [0, 10800]
secondFourHour = [21600, 36000]

delivery = df.loc[df['Act Base'] == "D"]
pickup = df.loc[df['Act Base'] == "P"]

#no arrival time and delivery task can not be use
delivery = df.dropna(subset = ['AR dtm'])


delivery['AR dtm'] =  pd.to_datetime(delivery['AR dtm'], format='%d/%m/%Y %H:%M')

mask = (delivery['AR dtm'] >= morning_parcel) & (delivery['AR dtm'] <= until_morning_parcel)
dMorning = delivery.loc[mask]
dAfternoon = delivery.loc[~mask]

pickupDelivery = delivery.append(pickup, ignore_index=True)

pickupDeliveryMorning = dMorning.append(pickup, ignore_index=True)
pickupDeliveryAfternoon = dAfternoon.append(pickup, ignore_index=True)

# courierName = df["Courier id"].unique()
# zip = df["zip"].unique()
# vehiclesNumber = len(courierName)

C:\Users\lun\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
pickupDeliveryAfternoon
single = pickupDeliveryMorning.loc[pickupDeliveryMorning['Courier id'] == "amohdol"]

single

vehiclesNumber = len(single)

In [34]:
vehicleList = []

for x in range(0, vehiclesNumber):
    vehicleList.append(Vehicle(x+1,subangLocation,[99999], zip , firstFourHour))

NameError: name 'Vehicle' is not defined